In [2]:
#Membros: Guilherme Guidi, Guilherme Leite, Leonardo Neves

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import expon

In [71]:

data = pd.read_csv('globalterrorismdb_0617dist.csv', encoding='latin1')
data.columns.values

C:\Users\Usuario\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region', 'region_txt',
       'provstate', 'city', 'latitude', 'longitude', 'specificity',
       'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'alternative', 'alternative_txt', 'multiple',
       'success', 'suicide', 'attacktype1', 'attacktype1_txt',
       'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt',
       'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt',
       'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2',
       'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2',
       'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt',
       'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3',
       'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3',
       'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3',
       'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode',
       'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3',
       'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1',
       'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2',
       'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3',
       'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4',
       'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail',
       'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte',
       'property', 'propextent', 'propextent_txt', 'propvalue',
       'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours',
       'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt',
       'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote',
       'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes',
       'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO',
       'INT_MISC', 'INT_ANY', 'related'], dtype=object)

In [7]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [57]:
df=data[['weaptype1_txt','nkill']]
df

                    weaptype1_txt  nkill
0                         Unknown    1.0
1                         Unknown    0.0
2                         Unknown    1.0
3       Explosives/Bombs/Dynamite    NaN
4                      Incendiary    NaN
5                        Firearms    0.0
6                        Firearms    0.0
7       Explosives/Bombs/Dynamite    0.0
8                      Incendiary    0.0
9                      Incendiary    0.0
10      Explosives/Bombs/Dynamite    0.0
11                     Incendiary    0.0
12                       Firearms    0.0
13                     Incendiary    0.0
14                     Incendiary    0.0
15      Explosives/Bombs/Dynamite    NaN
16                        Unknown    1.0
17      Explosives/Bombs/Dynamite    0.0
18      Explosives/Bombs/Dynamite    0.0
19                     Incendiary    0.0
20                     Incendiary    0.0
21                       Firearms    0.0
22      Explosives/Bombs/Dynamite    0.0
23      Explosives/Bombs/Dynamite    0.0
24                     Incendiary    0.0
25                        Unknown    1.0
26      Explosives/Bombs/Dynamite    0.0
27                        Unknown    0.0
28      Explosives/Bombs/Dynamite    0.0
29                     Incendiary    0.0
...                           ...    ...
170320                   Firearms    0.0
170321                   Firearms    1.0
170322                   Firearms    0.0
170323  Explosives/Bombs/Dynamite    1.0
170324  Explosives/Bombs/Dynamite    2.0
170325  Explosives/Bombs/Dynamite    0.0
170326                   Firearms    1.0
170327  Explosives/Bombs/Dynamite    0.0
170328                   Firearms    0.0
170329                   Firearms    1.0
170330  Explosives/Bombs/Dynamite    2.0
170331                    Unknown    3.0
170332  Explosives/Bombs/Dynamite    2.0
170333  Explosives/Bombs/Dynamite   15.0
170334  Explosives/Bombs/Dynamite   15.0
170335  Explosives/Bombs/Dynamite    4.0
170336  Explosives/Bombs/Dynamite    1.0
170337  Explosives/Bombs/Dynamite    NaN
170338                   Firearms    2.0
170339                    Unknown    1.0
170340                    Unknown    1.0
170341                    Unknown    0.0
170342                    Unknown    0.0
170343  Explosives/Bombs/Dynamite    2.0
170344  Explosives/Bombs/Dynamite    1.0
170345                    Unknown   15.0
170346  Explosives/Bombs/Dynamite    0.0
170347                    Unknown    0.0
170348                   Firearms    0.0
170349                   Firearms    0.0

[170350 rows x 2 columns]

In [58]:
nndf = df[pd.notnull(df.weaptype1_txt)&pd.notnull(df.nkill)]

In [70]:
nndf.head()

  weaptype1_txt  nkill
0       Unknown    1.0
1       Unknown    0.0
2       Unknown    1.0
5      Firearms    0.0
6      Firearms    0.0

In [64]:
nunndf = nndf[nndf.weaptype1_txt != 'Unknown']

In [68]:
nunndf.head()

                 weaptype1_txt  nkill
59                    Firearms    1.0
62                  Incendiary    7.0
66   Explosives/Bombs/Dynamite    1.0
80   Explosives/Bombs/Dynamite   47.0
111                   Firearms    2.0

In [69]:
nunndf = nunndf[nndf.nkill != 0]
nunndf.head()

C:\Users\Usuario\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

                 weaptype1_txt  nkill
59                    Firearms    1.0
62                  Incendiary    7.0
66   Explosives/Bombs/Dynamite    1.0
80   Explosives/Bombs/Dynamite   47.0
111                   Firearms    2.0

In [72]:
len(nunndf)

71602