In [135]:
#Membros: Guilherme Guidi, Guilherme Leite, Leonardo Neves

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import expon
from scipy import stats

**Dado o número de mortes de um ataque terrorista, qual é o tipo de arma mais provavel de ter sido ultilizada.**
#Regressão Logística

In [136]:

data = pd.read_csv('globalterrorismdb_0617dist.csv', encoding='latin1')
data.columns.values #Conteudo de cada coluna

C:\Users\Usuario\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region', 'region_txt',
       'provstate', 'city', 'latitude', 'longitude', 'specificity',
       'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'alternative', 'alternative_txt', 'multiple',
       'success', 'suicide', 'attacktype1', 'attacktype1_txt',
       'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt',
       'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt',
       'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2',
       'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2',
       'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt',
       'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3',
       'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3',
       'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3',
       'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode',
       'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3',
       'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1',
       'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2',
       'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3',
       'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4',
       'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail',
       'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte',
       'property', 'propextent', 'propextent_txt', 'propvalue',
       'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours',
       'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt',
       'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote',
       'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes',
       'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO',
       'INT_MISC', 'INT_ANY', 'related'], dtype=object)

In [137]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [138]:
df=data[['weaptype1','nkill']] #Separa as colunas

In [139]:
nndf = df[pd.notnull(df.weaptype1)&pd.notnull(df.nkill)]#Tira os "NaN" do df
nndf.isnull().sum()

weaptype1    0
nkill        0
dtype: int64

In [140]:
nunndf = nndf[nndf.weaptype1 != 13] #tira os "Unknown" do df
#nunndf = nndf[nndf.nkill != 0]
print("len:",len(nunndf))

len: 148849

In [141]:
#import statsmodels.api as sm
#import numpy as np
#np.seterr(divide='ignore', invalid='ignore')

#Y = nunndf['weaptype1']
#X = nunndf['nkill']
##X = sm.add_constant(X)
#mn = sm.MNLogit(Y,X)#Regressao Logistica multinomial
#print(X)
#result = mn.fit()
#result
#Como df é muito longo e os valores são relativamente pequenos, o numpy dentro do statsmodel da pau pq os numeros sao muito pequenos

In [149]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from numpy import *

Y = nunndf['weaptype1']
X = nunndf['nkill']
X=X.values.reshape((len(X),1))
Y=Y.values.reshape((len(Y),1))

#test_Y = Y.sample(100)
#test_X = X.sample(100)


mul_lr = linear_model.LogisticRegression(multi_class='multinomial', solver='newton-cg').fit(X,Y)
lr = linear_model.LogisticRegression()
lr.fit(X, Y)

C:\Users\Usuario\Anaconda3\lib\site-packages\sklearn\utils\validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [ ]:
print ("Logistic regression Train Accuracy :: ", metrics.accuracy_score(Y, lr.predict(X)))
print ("Logistic regression Test Accuracy :: ", metrics.accuracy_score(Y, lr.predict(test_X)))

print ("Multinomial Logistic regression Train Accuracy :: ", metrics.accuracy_score(Y, mul_lr.predict(X)))
print ("Multinomial Logistic regression Test Accuracy :: ", metrics.accuracy_score(Y, mul_lr.predict(test_X)))

In [ ]:
print ("Logistic regression Train Accuracy :: ", metrics.accuracy_score(train_y, lr.predict(train_x)))
print ("Logistic regression Test Accuracy :: ", metrics.accuracy_score(test_y, lr.predict(test_x)))

print ("Multinomial Logistic regression Train Accuracy :: ", metrics.accuracy_score(train_y, mul_lr.predict(train_x)))
print ("Multinomial Logistic regression Test Accuracy :: ", metrics.accuracy_score(test_y, mul_lr.predict(test_x)))