In [24]:
#Membros: Guilherme Guidi, Guilherme Leite, Leonardo Neves

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import expon
from scipy import stats

**Dado o número de mortes de um ataque terrorista, qual é o tipo de arma mais provavel de ter sido ultilizada.**
#Regressão Logística

In [25]:

data = pd.read_csv('globalterrorismdb_0617dist.csv', encoding='latin1')
data.columns.values #Conteudo de cada coluna

C:\Users\Usuario\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,6,31,33,53,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

array(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region', 'region_txt',
       'provstate', 'city', 'latitude', 'longitude', 'specificity',
       'vicinity', 'location', 'summary', 'crit1', 'crit2', 'crit3',
       'doubtterr', 'alternative', 'alternative_txt', 'multiple',
       'success', 'suicide', 'attacktype1', 'attacktype1_txt',
       'attacktype2', 'attacktype2_txt', 'attacktype3', 'attacktype3_txt',
       'targtype1', 'targtype1_txt', 'targsubtype1', 'targsubtype1_txt',
       'corp1', 'target1', 'natlty1', 'natlty1_txt', 'targtype2',
       'targtype2_txt', 'targsubtype2', 'targsubtype2_txt', 'corp2',
       'target2', 'natlty2', 'natlty2_txt', 'targtype3', 'targtype3_txt',
       'targsubtype3', 'targsubtype3_txt', 'corp3', 'target3', 'natlty3',
       'natlty3_txt', 'gname', 'gsubname', 'gname2', 'gsubname2', 'gname3',
       'gsubname3', 'motive', 'guncertain1', 'guncertain2', 'guncertain3',
       'individual', 'nperps', 'nperpcap', 'claimed', 'claimmode',
       'claimmode_txt', 'claim2', 'claimmode2', 'claimmode2_txt', 'claim3',
       'claimmode3', 'claimmode3_txt', 'compclaim', 'weaptype1',
       'weaptype1_txt', 'weapsubtype1', 'weapsubtype1_txt', 'weaptype2',
       'weaptype2_txt', 'weapsubtype2', 'weapsubtype2_txt', 'weaptype3',
       'weaptype3_txt', 'weapsubtype3', 'weapsubtype3_txt', 'weaptype4',
       'weaptype4_txt', 'weapsubtype4', 'weapsubtype4_txt', 'weapdetail',
       'nkill', 'nkillus', 'nkillter', 'nwound', 'nwoundus', 'nwoundte',
       'property', 'propextent', 'propextent_txt', 'propvalue',
       'propcomment', 'ishostkid', 'nhostkid', 'nhostkidus', 'nhours',
       'ndays', 'divert', 'kidhijcountry', 'ransom', 'ransomamt',
       'ransomamtus', 'ransompaid', 'ransompaidus', 'ransomnote',
       'hostkidoutcome', 'hostkidoutcome_txt', 'nreleased', 'addnotes',
       'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG', 'INT_IDEO',
       'INT_MISC', 'INT_ANY', 'related'], dtype=object)

In [26]:
data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [27]:
df=data[['weaptype1_txt','weaptype1','nkill']] #Separa as colunas
df.head()

               weaptype1_txt  weaptype1  nkill
0                    Unknown         13    1.0
1                    Unknown         13    0.0
2                    Unknown         13    1.0
3  Explosives/Bombs/Dynamite          6    NaN
4                 Incendiary          8    NaN

In [28]:
nndf = df[pd.notnull(df.weaptype1_txt)&pd.notnull(df.nkill)]#Tira os "NaN" do df

In [29]:
nndf.head()

  weaptype1_txt  weaptype1  nkill
0       Unknown         13    1.0
1       Unknown         13    0.0
2       Unknown         13    1.0
5      Firearms          5    0.0
6      Firearms          5    0.0

In [30]:
nunndf = nndf[nndf.weaptype1_txt != 'Unknown'] #tira os "Unknown" do df

In [31]:
nunndf.head()

               weaptype1_txt  weaptype1  nkill
5                   Firearms          5    0.0
6                   Firearms          5    0.0
7  Explosives/Bombs/Dynamite          6    0.0
8                 Incendiary          8    0.0
9                 Incendiary          8    0.0

In [32]:
nunndf.weaptype1_txt = nunndf.weaptype1_txt.astype('category')
nunndf.nkill = nunndf.nkill.astype('int')
nunndf.head()

C:\Users\Usuario\Anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

               weaptype1_txt  weaptype1  nkill
5                   Firearms          5      0
6                   Firearms          5      0
7  Explosives/Bombs/Dynamite          6      0
8                 Incendiary          8      0
9                 Incendiary          8      0

In [33]:
len(nunndf)

148849

In [35]:
import statsmodels.api as sm

In [36]:
X = nunndf['weaptype1']
Y = nunndf['nkill']
logit = sm.MNLogit(Y,X)#Regressao Logistica multinomial

In [38]:
result = logit.fit()
result
#Celula demorando muito para rodar, nao sei se o df é muito grande ou se deu ruim

KeyboardInterrupt:

In [ ]:
#logit = sm.mLogit(nunndf['nkill'],nunndf['weaptype1'])

In [ ]:
#logit = sm.CLogit(nunndf['nkill'],nunndf['weaptype1'])

In [ ]:
#nunndf.columns[1:]